# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*.cpython-*
*/*.cpython-*
*/*/*.cpython-*
*/*/*/*.cpython-*

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
.env.local

# Model files
src/tools/models/ 